#nav-link {
	position: relative;
}

#nav-link::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #3b82f6;
	transition: width 0.3s ease;
}

#nav-link:hover::after,
.active #nav-link::after {
	width: 100%;
}